extends ../layout.jade

block content
    .jumbotron
      .container
        h1 Welcome #{currentUser}
        p
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis impedit hic, doloribus officiis ipsa voluptatum et inventore aliquid quisquam nemo necessitatibus. Ipsa ad vel quaerat iste dicta iure recusandae hic.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Heading
          p
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, officiis saepe incidunt explicabo, a tenetur maxime laudantium reiciendis alias rem quidem esse et quasi quisquam labore, vero hic quae numquam.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Heading
          p
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima doloremque impedit alias eligendi a aliquid id, quaerat molestias incidunt tempora temporibus dolorem laudantium, sapiente repellat iusto magnam ex nesciunt nemo.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Heading
          p
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil hic omnis voluptatem non. Error quos esse odit tempora, non saepe laudantium. Consequatur assumenda obcaecati, praesentium nemo, suscipit velit blanditiis sapiente.
          p
            a.btn.btn-default(href='#', role='button') View details »
      hr
      footer
        p.text-center © 2016 Programming Bytes, Inc.
    // /container
